.select2-container--default .select2-selection {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
}
.select2-container--default .select2-search--inline .select2-search__field {
    color: var(--bs-body-color);
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: var(--bs-body-color);
    width: 100%;
}
.select2-container--default .select2-results__option {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: var(--bs-primary);
    color: var(--bs-body-color);
}
.select2-container--default .select2-selection .select2-selection__rendered .select2-selection__clear {
    color: var(--bs-body-color);
}

ul  {
    width: 100%;
}