{% extends 'base.html' %}
{% load partials %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Item List{% endblock %}

{% startpartial item %}
<div>{{ item }} ({{ item.category_list }})</div>
<div>
  <button hx-get="{% url 'items:update' item.id %}" hx-target="#dialog" class="btn btn-sm btn-primary">
    Edit
  </button>
  <button hx-get="{% url 'items:delete' item.id %}" hx-target="#dialog" class="btn btn-sm btn-danger">
    Delete
  </button>
</div>
{% endpartial %}

{% startpartial item-list %}
  {% for item in items %}
  <!-- Item -->
  <li id="item-{{ item.id }}" hx-trigger="item-{{ item.id }}-updated from:body" hx-get="{% url 'items:item' item.id %}" hx-target="this" class="list-group-item d-flex justify-content-between">
    <div>{{ item }} ({{ item.category_list }})</div>
    <div>
      <button hx-get="{% url 'items:update' item.id %}" hx-target="#dialog" class="btn btn-sm btn-primary">
        Edit
      </button>
      <button hx-get="{% url 'items:delete' item.id %}" hx-target="#dialog" class="btn btn-sm btn-danger">
        Delete
      </button>
    </div>
  </li>
  {% endfor %}
{% endpartial %}

{% startpartial item-form %}
<form hx-post="{{ url }}">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ form_title }}</h5>
    </div>
    <div class="modal-body">
      {% crispy form %}
      {{ form_body }}
    </div>
    <div class="modal-footer">
      <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endpartial %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Items</h1>
  <button hx-get="{% url 'items:create' %}" hx-target="#dialog" class="btn btn-primary">
    +
  </button>
</div>

<!-- Item List -->
<ul hx-trigger="load, item-created from:body, item-deleted from:body" hx-get="{% url 'items:item-list' %}" hx-target="this" class="list-group list-group-flush"></ul>

<!-- Modal Form -->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'htmx_modal_forms/script.js' %}"></script>
{% endblock %}